<div class="change-password-form">
        <h4>Change Password</h4>
        <form #updateProfileForm="ngForm" (ngSubmit)="saveProfile(updateProfileForm)" novalidate>
            <div class="form-group">
                <input ngModel="{{currentUser?.userName}}" #username="ngModel" class="form-control" name="username"
                    placeholder="User Name" />
            </div>
            <div class="form-group">
                <show-hide-password>
                <input class="form-control" required name="password" type="password" placeholder="Password" ngModel
                        #password="ngModel" />
                </show-hide-password>
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                        Old password is required.
                </div>
                <div *ngIf="warningMsg != null" class="alert alert-danger">{{ warningMsg }}</div>
            </div>
            <div class="form-group">
                <show-hide-password>
                    <input class="form-control" required name="newpassword" type="password" placeholder="New password" ngModel
                        #newpassword="ngModel" />
                </show-hide-password>
                <div [hidden]="newpassword.valid || newpassword.pristine" class="alert alert-danger">
                        New password is required.
                </div>
                <div *ngIf="warningMsg2 != null" class="alert alert-danger">{{ warningMsg2 }}</div>
            </div>
            <div class="button-form">
                <button class="btn btn-primary" type="submit"><span class="fa fa-save"></span>&nbsp;Save</button>&nbsp;
                <button class="btn btn-danger" routerLink="/authenticated/profile" routerLinkActive="active"><span class="fa fa-close"></span>&nbsp;Cancel</button>
            </div>
        </form>
    </div>