:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.form {
    padding-top: 55px;
}
.change-password-form {
    border: 1px solid rgba(110, 107, 107, 0.3);
    border-radius: 5px;
    min-width: 300px;
    background:rgba(238, 238, 238, 0.3);
    padding: 100px;
}

.button-form {
    float: center;
    display: flex;
    justify-content: center;
}